<h3 mat-dialog-title>{{encabezado | uppercase}}</h3>

<mat-dialog-content class="mat-typography">

    <form [formGroup]="formRamas">
        <p></p>
        <div class="row">

            <div class="col-12">
                <p>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>C&oacute;digo</mat-label>
                        <input formControlName="codigoRama" matInput placeholder="C&oacute;digo">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <ng-template ngFor let-error [ngForOf]="validacion_msj.codigoRama" ngProjectAs="mat-error">
                            <mat-error *ngIf="formRamas.get('codigoRama').hasError(error.type)" >
                                <strong> {{error.message}}</strong>
                            </mat-error>                  
                        </ng-template>
                    </mat-form-field>
                </p>
            </div>

  
            <div class="col-12">
                <p>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Descripci&oacute;n</mat-label>
                        <textarea formControlName="descripcion" matInput placeholder="Descripci&oacute;n"></textarea>
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        <ng-template ngFor let-error [ngForOf]="validacion_msj.descripcion" ngProjectAs="mat-error">
                            <mat-error *ngIf="formRamas.get('descripcion').hasError(error.type)" >
                                <strong> {{error.message}}</strong>
                            </mat-error>                  
                        </ng-template>
                    </mat-form-field>
                </p>
            </div>

            <div class="col-12">

              <mat-form-field class="full-width" appearance="outline" class="full-width">
                  <mat-label>Subsector</mat-label>
                  <input type="text" matInput formControlName="subSector" [matAutocomplete]="auto">
                  <mat-autocomplete  autoActiveFirstOption #auto="matAutocomplete"
                      [displayWith]="displayFn">
                      <mat-option *ngFor="let option of opcionesSubSector | async" [value]="option">
                          {{option.codSubSector}} /  {{option.descripcion}}
                      </mat-option>
                  </mat-autocomplete>
                  <ng-template ngFor let-error [ngForOf]="validacion_msj.subSector" ngProjectAs="mat-error">
                    <mat-error *ngIf="formRamas.get('subSector').hasError(error.type)" >
                        <strong> {{error.message}}</strong>
                    </mat-error>                  
                  </ng-template>
              </mat-form-field>
            </div>

            <div class="col-12">
                <mat-slide-toggle formControlName="estatus"   color="primary">
                  Estatus
              </mat-slide-toggle>
            </div>

        </div> 
    </form>


</mat-dialog-content>


<mat-dialog-actions align = "end">
    <button *ngIf="accion === 1" (click)="guardarRama()" mat-raised-button color="primary">Guardar</button>

    <button *ngIf="accion === 2" (click)="editarRama()" mat-raised-button color="primary">Editar</button>
    <button mat-raised-button mat-dialog-close  [mat-dialog-close]="formRamas.get('subSector').value" color="warn">Cancelar</button>
</mat-dialog-actions>
