<div class="row">

    <div class="col-md-4"></div>
    <div class="col-md-4 a">
    <div class=" card card-body">
       
        <img  mat-card-xl-image [src]="url" alt="Logo Empresarial">
       
        <mat-card-actions>
           
            <div class="col-2">
                <input #digiInput hidden="true" type="file" accept=".png, .jpeg, .jpg" (change)="subirFoto($event)" />
                <button (click)="digiInput.click()" mat-mini-fab color="primary">
                  <mat-icon>file_upload</mat-icon>
                </button>
              </div>
          
        </mat-card-actions>
    </div>
    
    </div>
    <div class="col-md-4"></div>
    </div>