<div class="row">

    <div class="col-md-12">
        <mat-card>
        <h1 class="text-center">Bitacora de Pagos SPEI Enviados</h1>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Filtros de Busqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
        <div class="mat-elevation-z8 table-responsive">
            <table mat-table aria-label="Tabla de Pagos SPEI" [dataSource]="dataSourcePagos" matSort>
            
                <!-- Columna beneficiario -->
                <ng-container matColumnDef="beneficiario">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Beneficiario
                    </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.beneficiario}} </td>
                </ng-container>

                <!-- Columna cuenta -->
                <ng-container matColumnDef="cuenta">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Cuenta
                    </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.cuenta}} </td>
                </ng-container>

                <!-- Columna cuenta -->
                <ng-container matColumnDef="cveRastreo">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Cve Rastreo
                    </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.cveRastreo}} </td>
                </ng-container>

                <!-- Columna fechaOperacion -->
                <ng-container matColumnDef="fecha">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Fecha
                    </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.fechaOperacion }} </td>
                </ng-container>

                <!-- Columna monto -->
                <ng-container matColumnDef="monto">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Monto
                    </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.monto | currency:'MXN'}} </td>
                </ng-container>

                <!-- Columna Estatus -->
                <ng-container matColumnDef="estatus">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                    Estatus
                    </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.detallePago.estatus}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsPagos"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsPagos;"></tr>

            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Seleccion pagos SPEI">
        </mat-paginator>
    </mat-card>
    </div>

</div>