<div class="row">
    <div class="col-md-12">
        <div class="card-body">
<br>
<h3 class="text-center">Lista Subgrupo</h3>

<div ><button mat-raised-button color="primary" (click)="abrirDialog(0)">Registrar </button>
</div>

<mat-form-field class="full-width">
    <mat-label>Filtros de Busqueda</mat-label>
    <input matInput (keyup)="buscarSubgrupo($event)" placeholder="Subgrupo" #input>
</mat-form-field>
<!--Cuerpo de la tabla-->
<div class="mat-elevation-z8 table-responsive">
    <table aria-label="info" mat-table [dataSource]="dataSourceSub"  matSort>
        <!-- Clave  Column -->
        <ng-container matColumnDef="cveSub">
            <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Clave Subgrupo </th>
            <td mat-cell style="padding: 16px;" *matCellDef="let grupo"> {{grupo.cveSubgrupo}} </td>
        </ng-container>

        <!-- Grupo Column -->
        <ng-container matColumnDef="descripcion">
            <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Descripci&oacute;n </th>
            <td mat-cell style="padding: 16px;" *matCellDef="let grupo"> {{grupo.descripcion}} </td>
        </ng-container>

        <!-- Diviison Column -->
        <ng-container matColumnDef="principal">
            <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Grupo Principal</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let grupo"> {{grupo.principal.descripcion}} </td>
        </ng-container>
        <!-- Estatus -->
        <ng-container matColumnDef="estatus">
            <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Estatus</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let element">
                <mat-slide-toggle  *ngIf="element.principal.estatus=== true"
                [ngModel]="element.estatus" (ngModelChange)="cambiaEstatus(element)" color="primary">
                </mat-slide-toggle>
                <mat-slide-toggle
                matTooltip="El grupo principal esta Inactivo." *ngIf="element.principal.estatus=== false"
                disabled
                [ngModel]="element.estatus" (ngModelChange)="cambiaEstatus(element)" color="primary">
                </mat-slide-toggle>
            </td>
        </ng-container>
        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
            <th scope="col" mat-header-cell *matHeaderCellDef> Acciones </th>
            <!-- Boton delete Column -->
            <td mat-cell *matCellDef="let element">
                <!-- Boton Editar Column -->
                <button mat-mini-fab *ngIf="element.principal.estatus=== true" (click)="abrirDialog(element)" color="primary">
                    <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-mini-fab *ngIf="element.principal.estatus=== false"
                disabled color="primary">
                    <mat-icon>mode_edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users">
</mat-paginator>
</div>
</div>
</div>