<div class="row">
  <!-- Título de alta usuarios -->
  <div class="col-md-8">
    <div class="card card-body">
      <h2 class="text-center">Alta de Usuarios Banca Electronica</h2>

      <form [formGroup]="myForm">
        <!--Id cliente de tabla cliente-->
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre Cliente .</mat-label>
            <input
              formControlName="nombreCliente"
              matInput
              [ngModel]="
                valorRespuesta?.nombres +
                ' ' +
                valorRespuesta?.apellido_paterno +
                ' ' +
                valorRespuesta?.apellido_materno
              "
              [readonly]="true"
            />

            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>

        <!--persona juridicak-->
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Persona Juridica</mat-label>
            <input
              formControlName="persona_juridica_id"
              matInput
              [ngModel]="valorRespuesta?.persona_juridica"
              [readonly]="true"
            />
            <mat-icon matSuffix>login</mat-icon>
          </mat-form-field>
        </div>

        <!--sucursal-->
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Sucursal .</mat-label>
            <input
              formControlName="sucursal_id"
              matInput
              [ngModel]="valorRespuesta?.nombre_sucursal"
              [readonly]="true"
            />
            <mat-icon matSuffix>house</mat-icon>
          </mat-form-field>
        </div>

        <!--correo-->
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>correo</mat-label>
            <input formControlName="correo" type="email" matInput />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>

        <!--telefono-->
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>telefono .</mat-label>
            <input formControlName="telefono" type="number" matInput />
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </div>

        <!--rol id-->
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Rol .</mat-label>
            <mat-select [(ngModel)]="selectedRole" formControlName="rol">
              <mat-option
                *ngFor="let rol of listaRolesBe"
                [value]="rol.generales_id"
                (click)="listaPermisosRol(rol)"
              >
                {{ rol.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div
          class="botones"
          style="display: flex; justify-content: space-between"
        >
          <button
            (click)="insertClienteBE(1)"
            mat-raised-button
            style="
              width: 49%;
              background-color: #2a3852;
              color: white;
              margin-top: 20px;
              display: flex;
            "
          >
            Guardar
          </button>
          <button
            mat-raised-button
            style="
              width: 49%;
              background-color: #2a3852;
              color: white;
              margin-top: 20px;
              display: flex;
            "
            (click)="cancelar()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>

  <!--card del formulario de alta usuarios-->
  <div class="col-md-4">
    <div class="card card-body">
      <h2 class="text-center">Permisos</h2>
      <div class="text-center" *ngFor="let permiso of listaPermisos">
        <h3
          style="
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            font-size: 100%;
          "
        >
          {{ permiso.titulo }}
        </h3>
      </div>
    </div>
  </div>
</div>
