<div class="row">
    <div class="col-md-12">
        <div class="card card-body">
        <h3 class="text-center" >Formas de Pago</h3>
        <div class="row">
            <div class="col-2"><button mat-raised-button color="primary" (click)="openDialog(0)">Registrar </button></div>
        </div>
            <!--Filtro-->
            <mat-form-field>
                <mat-label>Filtros de Busqueda</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Forma de Pago, Clave" #input>
            </mat-form-field>
            <div class="mat-elevation-z8 table-responsive">
                <table aria-label="infoForma" mat-table [dataSource]="dataSourceFormasPago"  matSort>

                    <!--- Note that these columns can be defined in any order.
                       The actual rendered columns are set as a property on the row definition" -->

                    <!-- Clave Forma de Pago Column -->
                    <ng-container matColumnDef="cveFpago">
                        <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Clave FPago </th>
                        <td mat-cell style="padding: 16px;" *matCellDef="let pago"> {{pago.cvefpago}} </td>
                    </ng-container>
                    <!--Nombre Forma de Pago Column -->
                    <ng-container matColumnDef="nombreFpago">
                        <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Nombre FPago</th>
                        <td mat-cell style="padding: 16px;" *matCellDef="let pago"> {{pago.nombrefpago}} </td>
                    </ng-container>
                    <!--MonedaId  Column -->
                    <ng-container matColumnDef="moneda">
                        <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Moneda</th>
                        <td mat-cell style="padding: 16px;" *matCellDef="let pago">${{pago.monedasat.tipoCambio |
                            currency:pago.monedasat.cveMonedaSat}} - {{pago.monedasat.nombreMoneda}} </td>
                    </ng-container>
                    <!-- Estatus -->
                    <ng-container matColumnDef="estatus">
                        <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Estatus</th>
                        <td mat-cell style="padding: 16px;" *matCellDef="let element">
                            <mat-slide-toggle [ngModel]="element.estatus" (ngModelChange)="cambiaEstatus(element)"
                                color="primary">
                            </mat-slide-toggle>
                        </td>
                    </ng-container>
                    <!-- Acciones Column -->
                    <ng-container matColumnDef="acciones">
                        <th scope="col" mat-header-cell *matHeaderCellDef> Acciones </th>
                        <!-- Boton delete Column -->
                        <td mat-cell *matCellDef="let element">
                            <!-- Boton Editar Column -->
                            <button mat-mini-fab (click)="openDialog(element)" color="primary">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users">
            </mat-paginator>
    </div>
</div>
</div>