<h2 mat-dialog-title>{{encabezado}} </h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="formTipoActivo">
    <p></p>
    <div class="row">

      <div class="col-md-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" placeholder="Activo">
          <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
          <ng-template ngFor let-error [ngForOf]="validaciones.nombre" ngProjectAs="mat-error">
            <mat-error *ngIf="formTipoActivo.get('nombre').hasError(error.type)">
              <strong> {{error.message}}</strong>
            </mat-error>
          </ng-template>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="usuario" [readonly]="true" placeholder="usuario">
          <mat-icon matSuffix>user</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Tasa de depreciaci&oacute;n</mat-label>
          <input matInput formControlName="porcentaje" placeholder="0.0%">
          <mat-icon matSuffix>percent</mat-icon>
          <ng-template ngFor let-error [ngForOf]="validaciones.porcentaje" ngProjectAs="mat-error">
            <mat-error *ngIf="formTipoActivo.get('porcentaje').hasError(error.type)">
              <strong> {{error.message}}</strong>
            </mat-error>
          </ng-template>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Meses a depreciar</mat-label>
          <input matInput formControlName="meses" placeholder="0">
          <mat-icon matSuffix>calendar_month</mat-icon>
          <ng-template ngFor let-error [ngForOf]="validaciones.meses" ngProjectAs="mat-error">
            <mat-error *ngIf="formTipoActivo.get('meses').hasError(error.type)">
              <strong> {{error.message}}</strong>
            </mat-error>
          </ng-template>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <h4> Cuentas Contables</h4>
        <mat-divider></mat-divider>

      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Cuenta Debe</mat-label>
          <input type="text" placeholder="Cuenta Debe" matInput formControlName="cuentaDebe" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayCuentaD">
            <mat-option *ngFor="let option of opcionesCuentaD | async" [value]="option">
              {{option.nombre}}
            </mat-option>
          </mat-autocomplete>
          <ng-template ngFor let-error [ngForOf]="validaciones.cuentaDebe" ngProjectAs="mat-error">
            <mat-error *ngIf="formTipoActivo.get('cuentaDebe').hasError(error.type)">
              <strong> {{error.message}}</strong>
            </mat-error>
          </ng-template>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Cuenta Haber</mat-label>
          <input type="text" placeholder="Cuenta Haber" matInput formControlName="cuentaHaber"
            [matAutocomplete]="autoH">
          <mat-autocomplete autoActiveFirstOption #autoH="matAutocomplete" [displayWith]="displayCuentaH">
            <mat-option *ngFor="let option of opcionesCuentaH | async" [value]="option">
              {{option.nombre}}
            </mat-option>
          </mat-autocomplete>
          <ng-template ngFor let-error [ngForOf]="validaciones.cuentaHaber" ngProjectAs="mat-error">
            <mat-error *ngIf="formTipoActivo.get('cuentaHaber').hasError(error.type)">
              <strong> {{error.message}}</strong>
            </mat-error>
          </ng-template>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-slide-toggle formControlName="estatus" color="primary">
          Estatus
        </mat-slide-toggle>
      </div>

    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="tipoActivoID==0" (click)="crudTipoActivos()" mat-raised-button color="primary">Guardar</button>
  <button *ngIf="tipoActivoID>0" (click)="crudTipoActivos()" mat-raised-button color="primary">Actualizar</button>
  <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
</mat-dialog-actions>