<h3 mat-dialog-title>{{encabezado | uppercase}}</h3>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formCredRel">
    <p></p>
    <div class="row">

      <div class="col-md-12">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Descripci&oacute;n</mat-label>
          <input formControlName="descripcion" matInput>
          <mat-icon matSuffix>keyboard_hide_outlined</mat-icon>
          <ng-template ngFor let-error [ngForOf]="validaciones.descripcion" ngProjectAs="mat-error">
            <mat-error *ngIf="formCredRel.get('descripcion').hasError(error.type)">
              <strong> {{error.message}}</strong>
            </mat-error>
          </ng-template>
        </mat-form-field>

      </div>
      <div class="col-md-12">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Clave</mat-label>
          <input formControlName="claveParametro" matInput placeholder="001">
          <mat-icon matSuffix>keyboard_hide_outlined</mat-icon>
          <ng-template ngFor let-error [ngForOf]="validaciones.claveParametro" ngProjectAs="mat-error">
            <mat-error *ngIf="formCredRel.get('claveParametro').hasError(error.type)">
              <strong> {{error.message}}</strong>
            </mat-error>
          </ng-template>
        </mat-form-field>

      </div>
      <div class="col-md-12">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Valor</mat-label>
          <input formControlName="valor" type="number" matInput placeholder="">
          <mat-icon matSuffix>request_quote</mat-icon>
          <ng-template ngFor let-error [ngForOf]="validaciones.valor" ngProjectAs="mat-error">
            <mat-error *ngIf="formCredRel.get('valor').hasError(error.type)">
              <strong> {{error.message}}</strong>
            </mat-error>
          </ng-template>
        </mat-form-field>

      </div>

      <div class="col-md-12">
        <mat-slide-toggle class="example-margin" formControlName="estatus" color="primary">
          Estatus
        </mat-slide-toggle>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="accion === 1" (click)="guardarParametro()" mat-raised-button color="primary">Guardar</button>
  <button *ngIf="accion === 2" (click)="actualizarParametro()" mat-raised-button color="primary">Actualizar</button>
  <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
</mat-dialog-actions>