<div class="row">
  <div class="col-md-12">
    <div class="card card-body">
    <h3 class="text-center">Monedas SAT</h3>
    <div class="row">
      <div class="col-2"><button mat-raised-button color="primary" (click)="openDialog(0)">Registrar </button></div>
    </div>
    <!--Filtro-->
    <mat-form-field>
      <mat-label>Filtros de Busqueda</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Moneda, Cve SAT" #input>

    </mat-form-field>
    <!--Cuerpo de la tabla-->
    <div class="mat-elevation-z8 table-responsive">
      <table aria-label="infoMoneda" mat-table [dataSource]="dataSourceMonedas"  matSort>

        <!--- Note that these columns can be defined in any order.
                     The actual rendered columns are set as a property on the row definition" -->
        <!-- Consecutivo Column -->
        <ng-container matColumnDef="consecutivo">
          <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell style="padding: 16px;" *matCellDef="let element; let i = index;"> {{ (paginatorRef.pageIndex * paginatorRef.pageSize) +
            (i + 1) }} </td>
        </ng-container>
        <!-- Clave Moneda Column -->
        <ng-container matColumnDef="cveMonedaSat">
          <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Clave SAT </th>
          <td mat-cell style="padding: 16px;" *matCellDef="let monedas"> {{monedas.cveMonedaSat}} </td>
        </ng-container>

        <!-- Nombre Moneda Column -->
        <ng-container matColumnDef="nombreMoneda">
          <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Moneda </th>
          <td mat-cell style="padding: 16px;" *matCellDef="let monedas"> {{monedas.nombreMoneda}} </td>
        </ng-container>

        <!-- Tipo cambio moneda Column -->
        <ng-container matColumnDef="tipoCambio">
          <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Tipo Cambio</th>
          <td mat-cell style="padding: 16px;" *matCellDef="let monedas">
            {{monedas.tipoCambio | currency:monedas.cveMonedaSat}}
            </td>
        </ng-container>

        <!-- Fecha registro Column -->
        <ng-container matColumnDef="fecha">
          <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell style="padding: 16px;" *matCellDef="let monedas"> {{monedas.fecha}} </td>
        </ng-container>

        <!-- Estatus -->
        <ng-container matColumnDef="estatus">
          <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Estatus</th>
          <td mat-cell style="padding: 16px;" *matCellDef="let element">
            <mat-slide-toggle [ngModel]="element.estatus" (ngModelChange)="cambiaEstatus(element)" color="primary">
            </mat-slide-toggle>
          </td>
        </ng-container>
        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th scope="column" mat-header-cell *matHeaderCellDef> Acciones </th>
          <!-- Boton delete Column -->
          <td mat-cell *matCellDef="let element">
            <!-- Boton Editar Column -->
            <button mat-mini-fab (click)="openDialog(element)" color="primary">
              <mat-icon>mode_edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      
    </div>
    <mat-paginator #paginatorRef [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
        aria-label="Select page of users">
      </mat-paginator>
    </div>
  </div>
</div>