<div class="row">
    <div class="col-md-12">
      <div class="card card-body">
        <h3 class="text-center">Inversiones</h3>
        <div class="row">
            <div class="col-2"><button mat-raised-button color="primary" (click)="abrirAdminInversion('',1)" >Registrar </button></div>
          </div>

        <!--Filtro-->
    <mat-form-field>
        <mat-label>Filtros de Busqueda</mat-label>
        <input matInput (keyup)="applyFilterInversiones($event)" placeholder="Clave Inversion, Descripcion, Plazo" #input>
      </mat-form-field>
      <div class="mat-elevation-z8 table-responsive">
        <table aria-label="infoInversion" mat-table [dataSource]="dataSourceInversiones"  matSort>
  
          <!--- Note that these columns can be defined in any order.
                       The actual rendered columns are set as a property on the row definition" -->
          
          <!-- Clave Inversion Column -->
          <ng-container matColumnDef="claveInversion">
            <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Clave Inversi&oacute;n</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion"> {{inversion.claveInversion}} </td>
          </ng-container>
          <!-- Descripcion Column -->
          <ng-container matColumnDef="descripcion">
            <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Descripci&oacute;n</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion"> {{inversion.descripcion}} </td>
          </ng-container>
          <!-- Plazo Column -->
          <ng-container matColumnDef="plazo">
            <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Plazo</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion"> {{inversion.plazo}} </td>
          </ng-container>
          <!-- Tasa Column -->
          <ng-container matColumnDef="tasa">
            <th scope="column" style="padding: 16px;"  mat-header-cell *matHeaderCellDef>Tasa</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion"> {{inversion.extensionInversion.tasa}} </td>
          </ng-container>
          <!-- Pasivo Deposito Column -->
          <ng-container matColumnDef="pasivoDeposito">
            <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Pasivo Deposito</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion"> {{inversion.pasivoDeposito.cuenta}} </td>
          </ng-container>
          <!-- Pasivo Interes Devengado Column -->
          <ng-container matColumnDef="pasivoInteresDevengado">
            <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Pasivo Interes Devengado</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion"> {{inversion.pasivoInteresDevengado.cuenta}} </td>
          </ng-container>
          <!-- Pasivo ISR Retenido Column -->
          <ng-container matColumnDef="pasivoIsrRetenido">
            <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Pasivo ISR Retenido</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion"> {{inversion.pasivoIsrRetenido.cuenta}} </td>
          </ng-container>
          <!-- Pasivo Retencion IDE Column -->
          <ng-container matColumnDef="pasivoRetencionIde">
            <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Pasivo Retencion IDE</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion"> {{inversion.pasivoRetencionIde.cuenta}} </td>
          </ng-container>
          <!-- Resultado Interes Pago Column -->
          <ng-container matColumnDef="resultadoInteresPagado">
            <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Resultado Interes Pago</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion"> {{inversion.resultadoInteresPagado.cuenta}} </td>
          </ng-container>
          <!-- Resultado Interes Devengado Column -->
          <ng-container matColumnDef="resultadoInteresDevengado">
            <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Resultado Interes Devengado</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion"> {{inversion.resultadoInteresDevengado.cuenta}} </td>
          </ng-container>
          <!-- Monto Inferior Column -->
          <ng-container matColumnDef="montoInf">
            <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Monto Inferior</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion"> {{inversion.extensionInversion.montoInf | currency:'MXN'}} </td>
          </ng-container>
          <!-- Monto Inferior Column -->
          <ng-container matColumnDef="montoSup">
            <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Monto Superior</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion"> {{inversion.extensionInversion.montoSup | currency:'MXN'}} </td>
          </ng-container>
          <!-- Retiene ISR Column-->
          <ng-container matColumnDef="retieneIsr">
            <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Retiene ISR</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion">
              <mat-slide-toggle [ngModel]="inversion.extensionInversion.retieneIsr" matTooltip="No / Sí Retiene ISR" color="primary" disabled>
              </mat-slide-toggle>
            </td>
          </ng-container>
          <!-- Estatus Column-->
          <ng-container matColumnDef="estatus">
            <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Estatus</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let inversion">
              <mat-slide-toggle (ngModelChange) = "crudInversion(inversion, $event)" matTooltip="Baja / Alta de Estatus" [ngModel]="inversion.extensionInversion.estatus" color="primary">
              </mat-slide-toggle>
            </td>
          </ng-container>
          <!-- Acciones Column -->
          <ng-container matColumnDef="acciones">
            <th scope="column" mat-header-cell *matHeaderCellDef> Acciones </th>
            <!-- Boton delete Column -->
            <td mat-cell *matCellDef="let inversion">
              <!-- Boton Editar Column -->
              <button mat-mini-fab (click)="abrirAdminInversion(inversion,2)" color="primary">
                <mat-icon>mode_edit</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users">
      </mat-paginator>
    </div>
  </div>
</div>