<div class="row">

  <div class="col-md-12">
      <div class="card card-body">
          <h3 class="text-center">Cierre periodo</h3>

          <form [formGroup]="formCierrePeriodo">

              <div class="row">
                  <div class="col-md-4">
                      <mat-form-field class="full-width" appearance="fill">
                          <mat-label>Sucursal</mat-label>
                          <input type="text" placeholder="Sucursal" matInput formControlName="sucursal"
                              [matAutocomplete]="autoSucursal" (input)="limpiaTabla()">
                          <mat-autocomplete autoActiveFirstOption #autoSucursal="matAutocomplete"
                              [displayWith]="displayFnSucursal">
                              <mat-option *ngFor="let option of opcionesSucursales | async" [value]="option">
                                  {{option.nombreSucursal}}
                              </mat-option>
                          </mat-autocomplete>
                          <ng-template ngFor let-error [ngForOf]="listaValidaciones.sucursal" ngProjectAs="mat-error">
                            <mat-error *ngIf="formCierrePeriodo.get('sucursal').hasError(error.type)">
                              <strong> {{error.message}}</strong>
                            </mat-error>
                          </ng-template>
                      </mat-form-field>
                  </div>

                  <!--Fecha-->
                  <div class="col-md-4">

                      <mat-form-field appearance="outline" class="full-width">
                          <mat-label>A&ntilde;o </mat-label>
                          <input matInput [matDatepicker]="dp" formControlName="anio" [readonly]="true" >
                          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                          <mat-datepicker #dp startView="multi-year" 
                                          (yearSelected)="setMonthAndYear($event, dp)"
                                          panelClass="example-month-picker">
                          </mat-datepicker>
                          <ng-template ngFor let-error [ngForOf]="listaValidaciones.anio" ngProjectAs="mat-error">
                            <mat-error *ngIf="formCierrePeriodo.get('anio').hasError(error.type)">
                              <strong> {{error.message}}</strong>
                            </mat-error>
                          </ng-template>
                      </mat-form-field>

                  </div>

                  <!--Listar detalle-->
                  <div class="col-md-1 a">
                      <button mat-fab color="primary" matTooltip="Listar cierre periodo"
                          (click)="spsDetalleCierreP(2)">
                          <mat-icon>search</mat-icon>
                      </button>
                  </div>

                  

              </div>

          </form>
      </div>
  </div>
</div>


<div class="row" *ngIf="listaDetalleCierreP.length > 0">
  
  <div class="col-md-12">

      <div class="card card-body">

          <div class="mat-elevation-z8 table-responsive">
              <table mat-table aria-label="Tabla cierre periodo" [dataSource]="dataSourceDetalleCierreP" matSort>

                  <!-- Columna fecha -->
                  <ng-container matColumnDef="periodo">
                      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 16px;"> Periodo
                      </th>
                      <td mat-cell *matCellDef="let element" style="padding: 16px;"> {{element.periodo}} </td>
                  </ng-container>

                  <!-- Columna Estatus -->
                  <ng-container matColumnDef="estatus">
                      <th scope="col" class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Estatus
                      </th>
                      <td mat-cell class="text-center" *matCellDef="let element">
                          <button mat-button matSuffix aria-label="search" *ngIf="element.estatus === false"  (click)="cambiaEstatus(element)">
                              <mat-icon matTooltip="Cerrar periodo" color="warn">
                                  lock_open</mat-icon>

                          </button>

                          <button mat-button matSuffix aria-label="search" *ngIf="element.estatus === true" (click)="cambiaEstatus(element)">
                              <mat-icon matTooltip="Abrir periodo"  color="primary">lock
                              </mat-icon>
                          </button>
                      </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="columnsCierrePeriodo"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnsCierrePeriodo;"></tr>

              </table>
          </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 20, 31]" showFirstLastButtons
              aria-label="Seleccionar pagina cierres periodo">
          </mat-paginator>

      </div>

  </div>

</div>

