<mat-tab-group (selectedTabChange)="tabSeleccionada($event)"
animationDuration="80ms"  backgroundColor = "primary">
    <mat-tab label="Sector">
        <!-------------- Sector ---------------------------->
        <sectores-></sectores->
        
    </mat-tab>
    <mat-tab label="Subsector">
        <!--------------Sub Sector ------------------------>
        <sub-sectores></sub-sectores>
        
    </mat-tab>
    <mat-tab label="Rama">
        <!-------------- Rama ---------------------------->
        <ramas-></ramas->

    </mat-tab>
    <mat-tab label="Subrama">
        <!-------------- Subrama ---------------------------->
        <sub-ramas></sub-ramas>

    </mat-tab>
    <mat-tab label="Clase de Actividad">
        <!-------------- Clase Actividad ---------------------------->
        <clase-actividades></clase-actividades>
    </mat-tab>
</mat-tab-group>