<div class="row">
<div class="col-12 ">
    <div class="card card-body">
    <br>
    <h3 class="text-center">Subramas SCIAN</h3>

    <div class="row">
        <div class="col-2">
            <button mat-raised-button color="primary" (click)="openDialog(0)">Registrar </button>
        </div>

        <h1>&nbsp;</h1>
    </div>

    <div id="divTbl">
        <mat-form-field class="full-width">
            <mat-label>Filtros de Busqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ciudad" #input>
        </mat-form-field>

        <!--Cuerpo de la tabla-->
        <div class="mat-elevation-z8 table-responsive">
            <table aria-label="infoSubRama" mat-table [dataSource]="dataSourceSubRamas"  matSort>

                <!--- Note that these columns can be defined in any order.
                       The actual rendered columns are set as a property on the row definition" -->


                <!-- Código Sub Rama Column -->
                <ng-container matColumnDef="codSubRama">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> C&oacute;digo </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let datos"> {{datos.codSubRama}} </td>
                </ng-container>

                <!-- Descripción Sub Rama SCIAN Column -->
                <ng-container matColumnDef="descripcion">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Descripci&oacute;n </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let datos"> {{datos.descripcion}} </td>
                </ng-container>

                <!-- Rama de la Sub Rama Column -->
                <ng-container matColumnDef="rama">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Rama </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let datos"> {{datos.rama.descripcion}} </td>
                </ng-container>

                <!-- Estatus -->
                <ng-container matColumnDef="estatus">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Estatus</th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element">
    
                        <mat-slide-toggle *ngIf="element.rama.estatus=== true" [ngModel]="element.estatus"
                            (ngModelChange)="cambiaEstatus(element)" color="primary">
                        </mat-slide-toggle>
                        <mat-slide-toggle matTooltip="La rama esta inactiva."
                            *ngIf="element.rama.estatus=== false" disabled [ngModel]="element.estatus"
                            (ngModelChange)="cambiaEstatus(element)" color="primary">
                        </mat-slide-toggle>
                    </td>
                </ng-container>
                <!-- Acciones Column -->
                <ng-container matColumnDef="acciones">
                    <th scope="col" mat-header-cell *matHeaderCellDef> Acciones </th>
                    <!-- Boton delete Column -->
                    <td mat-cell *matCellDef="let element">
                        <!-- Boton Editar Column -->
                        <button mat-mini-fab *ngIf="element.rama.estatus=== true" (click)="openDialog(element)" color="primary">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                        <button mat-mini-fab *ngIf="element.rama.estatus=== false"
                        disabled color="primary">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

           
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users">
        </mat-paginator>
    </div><!-- MOSTRAR-->
</div>
</div>
</div>