<div class="row">
    <div class="col-md-12">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-3">
                    <mat-label class="mayuscula"><strong>N&uacute;mero de {{lblCliente}}:</strong> {{numSocio}}
                    </mat-label>
                </div>
                <div class="col-md-5">
                    <mat-label class="mayuscula"><strong>{{lblCliente}}:</strong> {{nombreSocio}}</mat-label>
                </div>
                <div class="col-md-3">
                    <mat-label class="mayuscula"><strong>Sucursal:</strong> {{sucursal}}</mat-label>
                </div>
                <div class="col-md-1">
                    <button mat-icon-button color="primary" matTooltip="Buscar Cliente" (click)="abrirDialog(0)">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
                <div class="col-md-12">
                    <form [formGroup]="formClabe" [hidden]="showForm">
                        <div class="row">

                            <div class="col-md-9">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Formas de deposito:</mat-label>
                                    <mat-select formControlName="cuenta">
                                        <mat-option *ngFor="let cuenta of listaMovCaja" [value]="cuenta">
                                            {{cuenta.nombreMovimiento}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>list</mat-icon>
                                    <ng-template ngFor let-error [ngForOf]="validacion_msj.cuenta" ngProjectAs="mat-error">
                                        <mat-error *ngIf="formClabe.get('cuenta').hasError(error.type)" >
                                            <strong> {{error.message}}</strong>
                                        </mat-error>                  
                                    </ng-template>
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                    <button style="margin-top: 10px;"  
                                    (click)="crudClabe()"
                                    mat-raised-button class="full-width" 
                                    color="primary">Generar Clabe</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" *ngIf="listaClabeCuenta.length > 0">
        <div class="card card-body">
            <div class="mat-elevation-z8 table-responsive">
                <table aria-label="info" mat-table [dataSource]="dataSourceClabes" matSort>

                    <!--  Cuenta Column -->
                    <ng-container matColumnDef="cuenta">
                        <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Cuenta </th>
                        <td mat-cell style="padding: 16px;" *matCellDef="let clabe">
                            {{clabe.cuenta}} </td>
                    </ng-container>


                    <!--  Clabe Column -->
                    <ng-container matColumnDef="clabe">
                        <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Clabe </th>
                        <td mat-cell style="padding: 16px;" *matCellDef="let clabe">
                            {{clabe.clabe}} </td>
                    </ng-container>


                    <!-- acciones Column -->
                    <ng-container matColumnDef="acciones">
                        <th scope="col" mat-header-cell *matHeaderCellDef>Estatus</th>
                        <td mat-cell *matCellDef="let clabe">
                            <mat-slide-toggle
                            [ngModel]="clabe.estatus"
                                (ngModelChange)= "cambiaEstatus($event, clabe)"
                                color="primary" > 
                            </mat-slide-toggle>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Paginado Clabes">
            </mat-paginator>
        </div>
    </div>
</div>