<div class="row">


    <div class="col-md-12">
        <div class="card card-body">
            <h3 class="text-center mayuscula">Notificaciones Globales {{lblClientes}}</h3>

            <div class="row">
                <div class="col-2">
                    <button mat-raised-button color="primary" (click)="abrirDialogoNotClientesGLobales(0)">Registrar
                        Notificaci&oacute;n</button>
                </div>
                <div class="col-10"></div>
            </div>


            <mat-form-field>
                <mat-label>Filtros de Busqueda</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Sucursal, Descripci&oacute;n" #input>
            </mat-form-field>

            <div class="mat-elevation-z8 table-responsive">
                <table mat-table aria-label="InfoNotGlobales" [dataSource]="dataSourceAvisos" #sortAvisos="matSort"
                    matSort>

                    <!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->


                    <!-- Aviso -->
                    <ng-container matColumnDef="aviso">
                        <th mat-header-cell style="padding: 16px;"  *matHeaderCellDef> Aviso </th>
                        <td mat-cell style="padding: 16px;"  *matCellDef="let element"> {{element.aviso}}</td>
                    </ng-container>

                    <!-- Aviso -->
                    <ng-container matColumnDef="vigencia">
                        <th mat-header-cell style="padding: 16px;"  *matHeaderCellDef> Vigencia </th>
                        <td mat-cell style="padding: 16px;"  *matCellDef="let element"> {{element.vigencia}}</td>
                    </ng-container>

                    <!--  Sucursal -->
                    <ng-container matColumnDef="sucursal">
                        <th mat-header-cell style="padding: 16px;"  *matHeaderCellDef> Sucursal </th>
                        <td mat-cell style="padding: 16px;"  *matCellDef="let element">
                            {{element.cveSucursal}} / {{element.sucursal}} </td>
                    </ng-container>

                    <!-- Tipo Socio-->
                    <ng-container matColumnDef="tipoSocio">
                        <th mat-header-cell style="padding: 16px;"  *matHeaderCellDef class="mayuscula"> Tipo {{lblCliente}}</th>
                        <td mat-cell style="padding: 16px;"  *matCellDef="let element"> {{element.tiposocio}} - {{element.descTipoSocio}}
                        </td>
                    </ng-container>

                    <!-- ESTATUS-->
                    <ng-container matColumnDef="estatus">
                        <th mat-header-cell style="padding: 16px;"  *matHeaderCellDef> Estatus</th>
                        <td mat-cell style="padding: 16px;"  *matCellDef="let element">
                            <mat-slide-toggle [ngModel]="element.estatus" (ngModelChange)="cambiaEstatus(element)"
                                color="primary"> </mat-slide-toggle>
                        </td>
                    </ng-container>

                    <!-- Accion -->
                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-mini-fab color="primary" (click)="abrirDialogoNotClientesGLobales(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-mini-fab aria-label="delete" (click)="eliminaAviso(element)" aria-hidden="true"
                                color="warn">
                                <mat-icon matSuffix>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsAvisos"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsAvisos;"></tr>
                </table>
            </div>
            <mat-paginator #paginatorAvisos [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>