<div class="row">
    <div class="col-md-12">

        <div class="card card-body">
            
            <div class="row">
                <!-- Botón para registrar nuevo SMS -->
                <div class="col-md-2">
                    <button mat-raised-button color="primary" (click)="abrirDialogoSMS(1,'')" >Registrar SMS</button>
                </div>
                <div class="col-md-10"><br><br><br></div>
            </div>

            <mat-form-field class="full-width">
                <mat-label>Filtro de SMS</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="4180000000" #input>
              </mat-form-field>

            <div class="mat-elevation-z8 table-responsive">
                <table mat-table aria-label="Tabla de SMS" [dataSource]="dataSourceSMS" matSort>

                    <!-- Columna CVE SMS -->
                    <ng-container matColumnDef="cveSMS">
                        <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef mat-sort-header> Cve. SMS </th>
                        <td mat-cell style="padding: 16px;" *matCellDef="let sms"> {{sms.cveSms}} </td>
                    </ng-container>

                    <!-- Columna Número SMS  -->
                    <ng-container matColumnDef="numero">
                        <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef mat-sort-header> N&uacute;mero </th>
                        <td mat-cell style="padding: 16px;" *matCellDef="let sms"> {{sms.lada}} - {{sms.numero}} </td>
                    </ng-container>

                    <!-- Columna Servidor SMS -->
                    <ng-container matColumnDef="servidor">
                        <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef mat-sort-header> Servidor </th>
                        <td mat-cell style="padding: 16px;" *matCellDef="let sms"> {{sms.servidor}} </td>
                    </ng-container>

                    <!-- Columna Puerto SMS  -->
                    <ng-container matColumnDef="puerto">
                        <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef mat-sort-header> Puerto </th>
                        <td mat-cell style="padding: 16px;" *matCellDef="let sms"> {{sms.puerto}} </td>
                    </ng-container>

                    <!-- Columna Estatus SMS -->
                    <ng-container matColumnDef="estatus">
                        <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                        <td mat-cell style="padding: 16px;" *matCellDef="let sms"> 
                            <mat-slide-toggle
                                [ngModel]= "sms.estatus"
                                (ngModelChange)= "cambiaEstatus($event, sms)"
                                color="primary" > 
                            </mat-slide-toggle>
                        </td>
                    </ng-container>

                    <!-- Columna Acciones SMS -->
                    <ng-container matColumnDef="acciones">
                        <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td style="padding: 16px;" mat-cell *matCellDef="let sms">
                        <!-- Columna Botón Editar -->
                            <button mat-mini-fab color="primary" (click)="abrirDialogoSMS(2,sms)">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsSMS"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsSMS;"></tr>

                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>

        </div>