<div class="col-12">
    <div class="card card-body">
        <h3 class="text-center mayuscula">Operaciones Relevantes</h3>
        <div class="row">
            <div class="col-3">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Desde:</mat-label>
                    <input matInput [matDatepicker]="fi" [formControl]="fechaIn" [readonly]="true">
                    <mat-datepicker-toggle matSuffix [for]="fi"></mat-datepicker-toggle>
                    <mat-datepicker #fi></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Hasta:</mat-label>
                    <input matInput [matDatepicker]="ff" [formControl]="fechaFin" [readonly]="true">
                    <mat-datepicker-toggle matSuffix [for]="ff"></mat-datepicker-toggle>
                    <mat-datepicker #ff></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label class="mayuscula">No. {{lblCliente}}</mat-label>
                    <input [formControl]="numeroCliente" matInput placeholder="No.{{lblCliente}}" [readonly]="true">
                    <button mat-button matSuffix mat-stroked-button color="primary" (click)="modalClientes()">
                        <mat-icon matSuffix matTooltip="Buscar {{lblCliente}}"><span
                                class="material-icons-outlined">person_search</span>
                        </mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="col-2">
                <button color="primary" mat-mini-fab aria-label="Buscar Op.Relevante" (click)="spsRelevante()">
                    <mat-icon matTooltip="Buscar">search</mat-icon>
                </button>
            </div>
            <div class="col-3">
                <mat-form-field class="full-width" appearance="outline" class="full-width">
                    <mat-label>Sucursal</mat-label>
                    <input type="text" placeholder="Sucursal" matInput [formControl]="sucursal"
                      [matAutocomplete]="autoSucursal">
                    <mat-autocomplete autoActiveFirstOption #autoSucursal="matAutocomplete"
                      (optionSelected)="opcionSeleccionSuc($event)" [displayWith]="displayFnSuc">
                      <mat-option *ngFor="let option of opcionesSucursal | async" [value]="option">
                        {{option.nombreSucursal}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
            <div class="col-3">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label class="mayuscula">Valor Dolar</mat-label>
                    <input [formControl]="dolar" matInput placeholder="Dolar" [readonly]="true">
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label class="mayuscula">Limite comparaci&oacute;n</mat-label>
                    <input  [formControl]="comparacion"  matInput placeholder="Comparación" [readonly]="true">
                </mat-form-field>
            </div>
            <div class="col-3">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label class="mayuscula">Valor Pesos Mexicanos</mat-label>
                    <input [formControl]="pesos" matInput placeholder="mexicanos" [readonly]="true">
                </mat-form-field>
            </div>
        </div><!-- row -->
    </div>
</div>
<!--12 card-->
<div class="col-12">
    <div class="card card-body">
        <mat-form-field class="col-12">
            <mat-label>Filtros de Busqueda</mat-label>
            <input matInput  placeholder="" (keyup)="applyFilter($event)"  #input>
        </mat-form-field>
        <!--Cuerpo de la tabla-->
        <div class="mat-elevation-z8 table-responsive">
            <table aria-label="infoRelevante" mat-table [dataSource]="dataSourceRelevantes"  matSort>
                
                <!-- Nombre Ciudad Column -->
                <ng-container matColumnDef="numeroCliente">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Numero {{lblCliente}}</th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let relevante"> {{relevante.numero_cliente}} </td>
                </ng-container>
        
                <!-- Division Column -->
                <ng-container matColumnDef="nombre">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> {{lblCliente}}</th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let relevante"> {{relevante.nombres}} {{relevante.apellido_paterno}} {{relevante.apellido_materno}} </td>
                </ng-container>
        
                <!-- Clasificacion Column -->
                <ng-container matColumnDef="fecha">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let relevante"> {{relevante.fecha_operacion | date:'dd-MM-yyyy' }} </td>
                </ng-container>
                 <!-- Clasificacion Column -->
                 <ng-container matColumnDef="descripcion">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Descripci&oacute;n </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let relevante"> {{relevante.descripcion}} </td>
                </ng-container>

                 <!-- Clasificacion Column -->
                 <ng-container matColumnDef="monto">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Monto </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let relevante"> {{relevante.cantidad |currency:'MXN'}} </td>
                </ng-container>
                 <!-- Clasificacion Column -->
                 <ng-container matColumnDef="montoMax">
                    <th scope="col" mat-header-cell *matHeaderCellDef>  Maximo </th>
                    <td mat-cell *matCellDef="let relevante"> {{relevante.cantidad_comparacion|currency:'MXN'}} </td>
                </ng-container>
               
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        
        </div>
        <mat-paginator fxFlex="100" #paginatorRef [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons aria-label="Select page of users">
        </mat-paginator>
    </div>
</div>
<!--12 card-->