<div class="row">
    <div class="col-md-12">
        <div class="card card-body">
        <h3 class="text-center">CAT&Aacute;LOGO &Iacute;NDICES HH</h3>
        <div class="row">
            <div class="col-4"><button mat-raised-button color="primary" (click)="abrirDialogoIndice(0)">Registrar
                    Nuevo</button></div>
            <div class="col-8"></div>
        </div>
        <!--Filtro -->
        <mat-form-field>
            <mat-label>Filtros de Busqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
        <!-- Cuerpo de lla tablaa-->
        <div class="mat-elevation-z8 table-responsive">
            <table aria-label="infoIndiceHH" mat-table [dataSource]="dataSourceIndicehh"  matSort>
                <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
                <!-- Clave del indice -->
                <ng-container matColumnDef="claveIndice">
                    <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef>Clave</th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.claveIndice}} </td>
                </ng-container>
                <!-- indice inicial -->
                <ng-container matColumnDef="indiceInicial">
                    <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Indice Inicial</th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.indiceInicial | currency:'MXN'}} </td>
                </ng-container>
                <!-- indice final -->
                <ng-container matColumnDef="indiceFinal">
                    <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Indice Final</th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.indiceFinal | currency:'MXN'}} </td>
                </ng-container>
                <!-- descripcion -->
                <ng-container matColumnDef="descripcion">
                    <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Descripci&oacute;n </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>
                <!-- Estatus -->
                <ng-container matColumnDef="estatus">
                    <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Estatus</th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element">
                        <mat-slide-toggle [ngModel]="element.estatus" (ngModelChange)="cambiaEstatus(element)"
                            color="primary">
                        </mat-slide-toggle>
                    </td>
                </ng-container>
                <!-- acciones -->
                <ng-container matColumnDef="acciones">
                    <th scope="column" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element">
                        <button mat-mini-fab color="primary" (click)="abrirDialogoIndice(element)">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            
        </div>
        <!--paginacion  de la tabla-->
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users">
        </mat-paginator>

    </div>
    </div>
</div>