<div class="row">

    <div class="col-md-12">
        <div class="card card-body">

            <div class="row">


                <div class="col-md-2">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label class="mayuscula">No.{{lblCliente}}</mat-label>
                        <input [formControl]="numeroCliente" matInput placeholder="No.{{lblCliente}}" [readonly]="true">
                        <mat-icon matSuffix><span class="material-icons-outlined">vpn_key</span>
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Nombre</mat-label>
                        <input [formControl]="nombre" matInput placeholder="Nombre" [readonly]="true">
                        <mat-icon matSuffix><span class="material-icons-outlined">person_search</span>
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-md-1">
                    <button color="primary" (click)="abrirDialogCliente(0)" mat-mini-fab aria-label="Example icon-button with a heart icon">
                        <mat-icon matTooltip="Buscar {{lblCliente}}" >search</mat-icon>
                    </button>
                </div>

                <div class="col-md-2">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Calificaci&oacute;n</mat-label>
                        <input [formControl]="calificacion" matInput placeholder="Nombre" [readonly]="true">
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Descripci&oacute;n</mat-label>
                        <input [formControl]="desCalificacion" matInput placeholder="Nombre" [readonly]="true">
                    </mat-form-field>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-5">
        <div class="card card-body">
            <mat-card-header>
                <mat-card-title>CUENTAS</mat-card-title>
            </mat-card-header>

            <mat-nav-list >


                <!-- Loading -->
                <div class="example-loading-shade" *ngIf="isLoadingResults  || isResultado">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

                    <div class="example-rate-limit-reached" *ngIf="isResultado">
                        <strong>No se encontraron cuentas.</strong>
                    </div>

                </div>

                <div class="example-table-container scroll-container-cre">

                    <table mat-table [dataSource]="dataSourceCuentas" class="example-table" matSort
                        matSortActive="created" matSortDisableClear matSortDirection="desc">

                        <caption></caption>

                        <!--Número-->
                        <ng-container matColumnDef="no">
                            <th id="no" class="text-center" style="padding: 16px;" mat-header-cell *matHeaderCellDef>No.</th>
                            <td mat-cell class="text-center" style="padding: 16px;" *matCellDef="let element; let i = index">
                                {{i + 1}}</td>
                        </ng-container>


                        <!--CLAVE-->
                        <ng-container matColumnDef="cveMovimiento">
                            <th id="cveMovimiento" style="padding: 16px;" class="text-center" mat-header-cell *matHeaderCellDef>
                                Clave </th>
                            <td class="text-center" style="padding: 16px;" mat-cell *matCellDef="let element">
                                {{element.cveMovimiento}} </td>
                        </ng-container>


                        <!--CONCEPTO-->
                        <ng-container matColumnDef="descMovimiento">
                            <th id="descMovimiento" style="padding: 16px;" class="text-center" mat-header-cell *matHeaderCellDef>
                                Cuenta </th>
                            <td class="text-left" style="padding: 16px;" mat-cell *matCellDef="let element">
                                {{element.descMovimiento}} </td>
                        </ng-container>

                        <!--SALDO-->
                        <ng-container matColumnDef="saldo">
                            <th id="saldo" mat-header-cell *matHeaderCellDef> Saldo </th>
                            <td mat-cell class="text-right" *matCellDef="let element">
                                <strong>{{element.saldo |
                                    currency:'MXN'}}</strong>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row id="poliza" (click)="abrirDialogAuxiliar(row, 1)" matRipple
                            *matRowDef="let row; columns: displayedColumns;">
                        </tr>

                    </table>

                </div>

            </mat-nav-list>

        </div>
    </div>


    <div class="col-md-7">
        <div class="card card-body">
            <mat-card-header>
                <mat-card-title>CR&Eacute;DITOS</mat-card-title>
            </mat-card-header>

            <mat-nav-list>


                <!-- Loading -->
                <div class="example-loading-shade" *ngIf="isLoadingResultsCre  || isResultadoCre">
                    <mat-spinner *ngIf="isLoadingResultsCre"></mat-spinner>

                    <div class="example-rate-limit-reached" *ngIf="isResultadoCre">
                        <strong>No se encontraron créditos.</strong>
                    </div>

                </div>

                <div class="example-table-container scroll-container-cre">

                    <table mat-table [dataSource]="dataSourceCred" class="example-table" matSort matSortActive="created"
                        matSortDisableClear matSortDirection="desc">

                        <caption></caption>

                        <!--Número-->
                        <ng-container matColumnDef="no">
                            <th style="padding: 16px;" id="no" class="text-center" mat-header-cell *matHeaderCellDef>No.</th>
                            <td style="padding: 16px;"mat-cell class="text-center" *matCellDef="let element; let i = index">
                                {{i + 1}}</td>
                        </ng-container>


                        <!--CLAVE-->
                        <ng-container matColumnDef="refCredito">
                            <th style="padding: 16px;" id="refCredito" class="text-center" mat-header-cell *matHeaderCellDef>
                                Referencia </th>
                            <td style="padding: 16px;" class="text-center" mat-cell *matCellDef="let element">
                                {{element.refCredito}} </td>
                        </ng-container>


                        <!--FECHA Otorgamiento-->
                        <ng-container matColumnDef="fechaEntrega">
                            <th style="padding: 16px;" id="fechaEntrega" class="text-center" mat-header-cell *matHeaderCellDef>
                                Otorgamiento </th>
                            <td style="padding: 16px;" class="text-center" mat-cell *matCellDef="let element">
                                {{element.fechaEntrega}} </td>
                        </ng-container>

                        <!--Vencimiento-->
                        <ng-container matColumnDef="fechaVencimiento">
                            <th style="padding: 16px;" id="fechaVencimiento" class="text-center" mat-header-cell *matHeaderCellDef>
                                Vencimiento </th>
                            <td style="padding: 16px;" mat-cell class="text-right" *matCellDef="let element">
                                {{element.fechaVencimiento }}
                            </td>
                        </ng-container>

                        <!--Estatus-->
                        <ng-container matColumnDef="estatus">
                            <th style="padding: 16px;" id="estatus" class="text-center" mat-header-cell *matHeaderCellDef>
                                Estatus </th>
                            <td style="padding: 16px;" mat-cell class="text-right" *matCellDef="let element">
                                {{element.detalleCredito.estadoCredito }}
                            </td>
                        </ng-container>

                        <!--Calificcaion-->
                        <ng-container matColumnDef="calificacion">
                            <th style="padding: 16px;" id="calificacion" class="text-center" mat-header-cell *matHeaderCellDef>
                                Calificaci&oacute;n </th>
                            <td style="padding: 16px;" mat-cell class="text-right" *matCellDef="let element">
                                {{element.detalleCredito.calificacion }}
                            </td>
                        </ng-container>

                        <!--DEscripcion Calificacion-->
                        <ng-container matColumnDef="descCalificicacion">
                            <th style="padding: 16px;" id="descCalificicacion" class="text-center" mat-header-cell *matHeaderCellDef>
                                Descripci&oacute;n </th>
                            <td style="padding: 16px;" mat-cell class="text-right" *matCellDef="let element">
                                {{element.detalleCredito.desCalificacion }}
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCred"></tr>
                        <tr mat-row id="poliza" (click)="getHistorial(row)" matRipple
                            *matRowDef="let row; columns: displayedColumnsCred;">
                        </tr>

                    </table>

                </div>


            </mat-nav-list>
        </div>
    </div>


</div>



<div class="row">

    <div class="col-md-5">
        <div class="card card-body">

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Saldo Credito</mat-label>
                        <strong><input matInput value="{{saldoCredito | currency:'MXN'}}" placeholder="0.00"
                                [readonly]="!editable" style="text-align:center;"></strong>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Capital</mat-label>
                        <strong><input matInput value="{{capitalrestante|currency:'MXN'}}" placeholder="0.00"
                                [readonly]="!editable" style="text-align:center;"></strong>
                        <mat-icon matSuffix><span class="material-icons-outlined">attach_money</span>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Interes</mat-label>
                        <strong><input matInput value="{{interesCredito|currency:'MXN'}}" placeholder="0.00"
                                [readonly]="!editable" style="text-align:center;"></strong>
                        <mat-icon matSuffix><span class="material-icons-outlined">attach_money</span>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Moratorio</mat-label>
                        <strong><input matInput value="{{moratorioCredito}}" placeholder="" [readonly]="!editable"
                                style="text-align:center;"></strong>
                        <mat-icon matSuffix><span class="material-icons-outlined">attach_money</span>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>IVA</mat-label>
                        <strong><input matInput value="{{ivaCredito|currency:'MXN'}}" placeholder="0.00"
                                [readonly]="!editable" style="text-align:center;"></strong>
                        <mat-icon matSuffix><span class="material-icons-outlined">attach_money</span>
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Bonificacion</mat-label>
                        <strong><input matInput value="" placeholder="0.00" [readonly]="!editable"
                                style="text-align:center;"></strong>
                        <mat-icon matSuffix><span class="material-icons-outlined">attach_money</span>
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Saldo Liquidacion</mat-label>
                        <strong><input matInput value="{{totalLiquida | currency:'MXN'}}" placeholder="0.00"
                                [readonly]="!editable" style="text-align:center;"></strong>
                    </mat-form-field>
                </div>

                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Pago Total</mat-label>
                        <strong><input matInput value="{{totalCredito|currency:'MXN'}}" [readonly]="!editable"
                                placeholder="0.00" prefix="$ " mask="separator.2" thousandSeparator=","
                                style="text-align:center;" [readonly]="false"></strong>
                        <mat-icon matSuffix><span class="material-icons-outlined">monetization_on</span>
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-md-10">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Fecha Calculo</mat-label>
                        <input matInput [max]="maxDate" [min]="minDate" [formControl]="fechaCalculo"
                            [matDatepicker]="picker">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button mat-mini-fab color="primary" (click)="calcularNuevoSaldo()">
                        <mat-icon><span class="material-icons-outlined">calculate</span></mat-icon>
                    </button>
                </div>


            </div>


        </div>
    </div>

    <div class="col-md-7">

        <div class="card card-body">
            <mat-tab-group backgroundColor="primary">
                <mat-tab label="Amortizaciones">

                    <div class="mat-elevation-z8 table-responsive">
                        <table mat-table [dataSource]="dataSourcePagos" class="example-table" matSort
                            matSortActive="created" matSortDisableClear matSortDirection="desc">

                            <caption></caption>

                            <!--Número-->
                            <ng-container matColumnDef="no">
                                <th id="no" style="padding: 16px;" class="text-center" mat-header-cell *matHeaderCellDef>No.</th>
                                <td mat-cell style="padding: 16px;" class="text-center" *matCellDef="let element">
                                    {{element.noAmortizacion}}</td>
                            </ng-container>


                            <!--Fecha Pago-->
                            <ng-container matColumnDef="fechaPago">
                                <th id="fechaPago" style="padding: 16px;" class="text-center" mat-header-cell *matHeaderCellDef>
                                    Fecha Pago </th>
                                <td class="text-center" style="padding: 16px;" mat-cell *matCellDef="let element">
                                    {{element.fechaPago}} </td>
                            </ng-container>


                            <!--amortizacion-->
                            <ng-container matColumnDef="amortizacion">
                                <th style="padding: 16px;" id="amortizacion" class="text-center" mat-header-cell *matHeaderCellDef>
                                    Amortizaci&oacute;n </th>
                                <td style="padding: 16px;" class="text-center" mat-cell *matCellDef="let element">
                                    {{element.importe}} </td>
                            </ng-container>


                            <!--Estatus-->
                            <ng-container matColumnDef="estatus">
                                <th style="padding: 16px;" id="estatus" class="text-center" mat-header-cell *matHeaderCellDef>
                                    Estatus </th>
                                <td style="padding: 16px;" mat-cell class="text-center" *matCellDef="let element">
                                    {{element.detalleAmortizacion.estatus }}
                                </td>
                            </ng-container>


                            <!--dias-->
                            <ng-container matColumnDef="dias">
                                <th style="padding: 16px;" id="dias" class="text-center" mat-header-cell *matHeaderCellDef>
                                    Dias </th>
                                <td style="padding: 16px;" mat-cell class="text-center" *matCellDef="let element">
                                    {{element.detalleAmortizacion.diasMoratorios }}
                                </td>
                            </ng-container>

                            <!--ultimoPago-->
                            <ng-container matColumnDef="ultimoPago">
                                <th style="padding: 16px;" id="ultimoPago" class="text-center" mat-header-cell *matHeaderCellDef>
                                    Ultimo Pago </th>
                                <td style="padding: 16px;" class="text-center" mat-cell *matCellDef="let element">
                                    {{element.detalleAmortizacion.fechaUltimoPago}} </td>
                            </ng-container>

                            <!--Calificcaion-->
                            <ng-container matColumnDef="calificacion">
                                <th style="padding: 16px;" id="calificacion" class="text-center" mat-header-cell *matHeaderCellDef>
                                    Calificaci&oacute;n </th>
                                <td style="padding: 16px;" mat-cell class="text-center" *matCellDef="let element">
                                    {{element.detalleAmortizacion.calificacion }}
                                </td>
                            </ng-container>

                            <!--DEscripcion Calificacion-->
                            <ng-container matColumnDef="descCalificicacion">
                                <th style="padding: 16px;" id="descCalificicacion" class="text-center" mat-header-cell *matHeaderCellDef>
                                    Descripci&oacute;n </th>
                                <td style="padding: 16px;" mat-cell class="text-center" *matCellDef="let element">
                                    {{element.detalleAmortizacion.descCalificacion }}
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsPagos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsPagos;"></tr>

                        </table>
                    </div>
                    <mat-paginator #paginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                        aria-label="Select page of users">
                    </mat-paginator>

                </mat-tab>
                <mat-tab label="Domicilio">
                    <form [formGroup]="formDomicilio">
                        <div class="row">

                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Estado</mat-label>
                                    <input formControlName="estado" matInput [readonly]="true" placeholder="Estado">
                                    <mat-icon matSuffix><span class="material-icons-outlined">map</span>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Municipio</mat-label>
                                    <input formControlName="municipio" matInput [readonly]="true"
                                        placeholder="Municipio">
                                    <mat-icon matSuffix><span class="material-icons-outlined">place</span>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Colonia</mat-label>
                                    <input formControlName="colonia" matInput [readonly]="true" placeholder="Colonia">
                                    <mat-icon matSuffix><span class="material-icons-outlined">location_city</span>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Calle</mat-label>
                                    <input formControlName="calle" matInput [readonly]="true" placeholder="Calle">
                                    <mat-icon matSuffix><span class="material-icons-outlined">my_location</span>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Num. Exterior</mat-label>
                                    <input formControlName="numExterior" matInput [readonly]="true"
                                        placeholder="Num. Exterior">
                                    <mat-icon matSuffix><span class="material-icons-outlined">numbers</span>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Num. Interior</mat-label>
                                    <input formControlName="numInterior" matInput [readonly]="true"
                                        placeholder="Num. Interior">
                                    <mat-icon matSuffix><span class="material-icons-outlined">numbers</span>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>C.P.</mat-label>
                                    <input formControlName="cp" matInput [readonly]="true" placeholder="CP">
                                    <mat-icon matSuffix><span class="material-icons-outlined">numbers</span>
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Localidad</mat-label>
                                    <input formControlName="localidad" matInput [readonly]="true"
                                        placeholder="Localidad">
                                    <mat-icon matSuffix><span class="material-icons-outlined">gps_fixed</span>
                                    </mat-icon>
                                </mat-form-field>
                            </div>

                        </div>
                    </form>

                </mat-tab>


                <mat-tab label="Referencias">

                    <div class="mat-elevation-z8 table-responsive">
                        <table mat-table [dataSource]="dataSourceReferencias" class="example-table" matSort
                            matSortActive="created" matSortDisableClear matSortDirection="desc">

                            <caption></caption>

                            <!--Número-->
                            <ng-container matColumnDef="no">
                                <th style="padding: 16px;" id="no" class="text-center" mat-header-cell *matHeaderCellDef>No.</th>
                                <td style="padding: 16px;" mat-cell class="text-center" *matCellDef="let element; let i = index">
                                    {{i + 1}}</td>
                            </ng-container>


                            <!-- nombre -->
                            <ng-container matColumnDef="nombre">
                                <th style="padding: 16px;" id="nombre" class="text-center" mat-header-cell *matHeaderCellDef>
                                    Nombre </th>
                                <td style="padding: 16px;" class="text-center" mat-cell *matCellDef="let element">
                                    {{element.nombres_ref}}  {{element.aparteno_ref}}  {{element.amaterno_ref}}</td>
                            </ng-container>


                            <!--Parentesco-->
                            <ng-container matColumnDef="parentesco">
                                <th style="padding: 16px;" id="parentesco" class="text-center" mat-header-cell *matHeaderCellDef>
                                    Parentesco </th>
                                <td style="padding: 16px;" class="text-center" mat-cell *matCellDef="let element">
                                    {{element.parentesco}} </td>
                            </ng-container>

                            <!--porcentaje-->
                            <ng-container matColumnDef="porcentaje">
                                <th style="padding: 16px;" id="porcentaje" class="text-center" mat-header-cell *matHeaderCellDef>
                                    Parentesco </th>
                                <td style="padding: 16px;" class="text-center" mat-cell *matCellDef="let element">
                                    {{element.porcentaje}} </td>
                            </ng-container>

                            <!--domicilio-->
                            <ng-container matColumnDef="domicilio">
                                <th style="padding: 16px;" id="domicilio" class="text-center" mat-header-cell *matHeaderCellDef>
                                    Domicilio </th>
                                <td style="padding: 16px;" class="text-center" mat-cell *matCellDef="let element">
                                    {{element.calle_dom_ref}} #{{element.no_ext_ref}}</td>
                            </ng-container>


                            <!--contacto-->
                            <ng-container matColumnDef="contacto">
                                <th style="padding: 16px;" id="contacto" class="text-center" mat-header-cell *matHeaderCellDef>
                                    Contacto </th>
                                <td style="padding: 16px;" class="text-center" mat-cell *matCellDef="let element">
                                    {{element.telefono}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsReferencias"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsReferencias;"></tr>

                        </table>
                    </div>
                    <mat-paginator #paginatorReferencias="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                        aria-label="">
                    </mat-paginator>


                </mat-tab>

            </mat-tab-group>



        </div>



    </div>


</div>