<div class="row">
    <div class="col-md-12">
        <div class="card card-body">
            <h3 class="text-center">Cat&aacute;logo De Extrajudicial Citatorios</h3>
            <div class="row">
                <div class="col-12">
                    <mat-tab-group backgroundColor="primary" mat-align-tabs="start">
                        <mat-tab label="{{lblClientes}} Morosos">
                            <!-- metodo que mandar llamar la vista de clientes morosos-->
                            <clientes-morosos></clientes-morosos>
                        </mat-tab>
                        <mat-tab label="Citatorios">
                            <!-- metodo que mandar llamar la vista de citatorios-->
                            <citatorio></citatorio>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>