<div class="row">
  <div class="col-md-12">
    <div class="card card-body">
      <h3 class="text-center">Tipo Documento</h3>
      <div class="row">
        <div class="col-2"><button mat-raised-button (click)="abrirAdminTipoDocumento('',1)" color="primary">Registrar
          </button></div>
        <div class="col-10"></div>
      </div>

      <!--Filtro-->
      <mat-form-field>
        <mat-label>Filtros de Busqueda</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="nombre,formato" #input>
      </mat-form-field>
      <div class="mat-elevation-z8 table-responsive">
        <table aria-label="info" mat-table [dataSource]="dataSourceTipoDocumento" matSort>

          <!--- Note that these columns can be defined in any order.
                       The actual rendered columns are set as a property on the row definition" -->

          <!--  clave de tipo documento Column -->
          <ng-container matColumnDef="claveTipoDocumento">
            <th mat-header-cell style="padding: 16px;" *matHeaderCellDef> Clave Tipo Documento </th>
            <td mat-cell style="padding: 16px;" *matCellDef="let tipoDocumento"> {{tipoDocumento.claveTipoDocumento}}
            </td>
          </ng-container>

          <!-- nombre del documento Column -->
          <ng-container matColumnDef="nombreDoc">
            <th mat-header-cell style="padding: 16px;" *matHeaderCellDef> Nombre Documento </th>
            <td mat-cell style="padding: 16px;" *matCellDef="let tipoDocumento"> {{tipoDocumento.nombreDoc}} </td>
          </ng-container>

          <!-- nombre del documento Column -->
          <ng-container matColumnDef="limiteMB">
            <th mat-header-cell style="padding: 16px;" *matHeaderCellDef> Limite MB </th>
            <td mat-cell style="padding: 16px;" *matCellDef="let tipoDocumento"> {{tipoDocumento.limiteMB}} </td>
          </ng-container>

          <!-- formato Column 
         <ng-container matColumnDef="formato" >
          <th mat-header-cell *matHeaderCellDef> Formato</th>
         <td mat-cell *matCellDef="let tipoDocumento">
           <div *ngIf="tipoDocumento.formato.descripcion === '.PNG'"><mat-icon style="color:rgb(17, 6, 112);"  title="PNG" >photo</mat-icon></div>
           <div *ngIf="tipoDocumento.formato.descripcion === '.PDF'"><mat-icon style="color:rgb(207, 9, 9);" title="PDF" >picture_as_pdf</mat-icon></div> 
           <div *ngIf="tipoDocumento.formato.descripcion === '.JPG'"><mat-icon style="color:rgb(23, 233, 76);"  title="JPG">filter</mat-icon></div> </td>
        </ng-container>-->

          <!-- Estatus Column-->
          <ng-container matColumnDef="estatus">
            <th mat-header-cell style="padding: 16px;" *matHeaderCellDef> Estatus</th>
            <td mat-cell style="padding: 16px;" *matCellDef="let tipoDocumento">
              <mat-slide-toggle [ngModel]="tipoDocumento.estatus"
                (ngModelChange)="crudTipoDocumento($event,tipoDocumento)" color="primary">
              </mat-slide-toggle>
            </td>
          </ng-container>

          <!-- Acciones Column -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <!-- Boton delete Column -->
            <td mat-cell *matCellDef="let tipoDocumento">
              <!-- Boton Editar Column -->
              <button mat-mini-fab (click)="abrirAdminTipoDocumento(tipoDocumento,2)" color="primary">
                <mat-icon>mode_edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users">
      </mat-paginator>
    </div>
  </div>
</div>