.chat-header {
    margin: 0;
    padding: 1em;
    background-color: #343A40;
    border-radius: 1em 1em 0 0;
}

.chat-add,
.chat-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: white;
}

.chat-add {
    cursor: pointer;
}

/* Se cambia el cursor cuando pasa sobre una fila, para indicar que se puede dar click en ésta */
.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}

/* Se cambia el fondo de la fila ligeramente cuando se pasa el cursor por encima,
esto para indicar que se puede interactuar con la fila */
.mat-mdc-row:hover .mat-mdc-cell {
    background-color: lightgray;
}

.row {
    padding: 1em;
}

.table-responsive {
    padding-bottom: 0;
}

.lista-filtro-row {
    padding-top: 0;
    padding-bottom: 0;
}

.lista-chats {
    max-height: 25em;
}

.tarjeta-chat {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

.icono-chat .material-icons {
    font-size: 3em;
    margin-right: 0.5em;
}

.nombre-chat {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.info-chat {
    margin-bottom: 1em;
    color: #7f7f7f
}

.punto-no-leido {
    display: flex;
    justify-content: center;
}