<div class="row">


    <div class="col-md-12">
        <div class="card card-body">
        <h3 class="text-center"> Tipo Plazo</h3>

        <div class="row">
            <div class="col-2">
                <button mat-raised-button color="primary" (click)="abrirDialogoTipoPlazo(0)">Registrar</button>
            </div>
            <div class="col-10"></div>
        </div>


        <mat-form-field>
            <mat-label>Filtros de Busqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
        </mat-form-field>


        <div class="mat-elevation-z8 table-responsive">
            <table aria-label="infoPlazo" mat-table [dataSource]="dataSourceTipoPlazo"  matSort>

                <!-- Clave -->
                <ng-container matColumnDef="clavePlazo">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Clave </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.clavePlazo}} </td>
                </ng-container>

                <!-- Descripción -->
                <ng-container matColumnDef="descripcion">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Descripci&oacute;n </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>

                <!-- Días -->
                <ng-container matColumnDef="dias">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> D&iacute;as </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.dias}} </td>
                </ng-container>

                <!-- Meses -->
                <ng-container matColumnDef="meses">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Meses </th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.meses}} </td>
                </ng-container>

                <!-- Estatus -->
                <ng-container matColumnDef="estatus">
                    <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Estatus</th>
                    <td mat-cell style="padding: 16px;" *matCellDef="let element">
                        <mat-slide-toggle matTooltip="Activar/Desactivar el registro." [ngModel]="element.estatus"
                            (ngModelChange)="crudTipoPlazo($event,element)" color="primary">
                        </mat-slide-toggle>
                    </td>
                </ng-container>


                <!-- Acciones -->
                <ng-container matColumnDef="acciones">
                    <th scope="col" mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">

                        <button mat-mini-fab color="primary" (click)="abrirDialogoTipoPlazo(element)"
                            matTooltip="Editar el registro.">
                            <mat-icon>mode_edit</mat-icon>
                        </button>


                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

           
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users">
        </mat-paginator>
    </div>
</div>


</div>