<nav class="navbar">
  <a class="navbar-brand"><img style="width: 165px; height: 40px" alt="LOGO LKS"
    src="assets/img/lkslogos/logo3.jpeg"></a>

</nav>


<div class="row">
    <div class="a col-md-8">
      <img src="assets/img/lkslogos/logoheader3.jpeg">
    </div>
    
    <div class="col-md-4">
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button  class="btn btn-primary btn-round" (click)="login()">Ingresar</button>       
          </div>
        </div>
    </div>
</div>
<footer-cmp></footer-cmp>