<div class="row">

    <div class="col-md-12">
        <div class="card card-body">
            <mat-tab-group backgroundColor="primary" mat-align-tabs="start">
                <mat-tab label="Bitacora de Recargas">
                    <h3 class="text-center"> Recargas MTCENTER</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Sucursal</mat-label>
                                <input type="text" placeholder="Sucursal" matInput [formControl]="sucursal"
                                    [matAutocomplete]="autoSucursal">
                                <mat-autocomplete autoActiveFirstOption #autoSucursal="matAutocomplete"
                                    [displayWith]="mostrarSucursal">
                                    <mat-option *ngFor="let option of opcionesSucursal| async" [value]="option">
                                        {{option.nombreSucursal}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-icon matSuffix>map</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Fecha</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                    <input matStartDate [formControl]="fechaI" placeholder="Fecha Inicio">
                                    <input matEndDate [formControl]="fechaF" placeholder="Fecha Fin">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                </mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                        <div class="col-1">
                            <button color="primary" mat-mini-fab aria-label="Buscar" matTooltip="Buscar"
                                (click)="spsRecargasMtcenter(1)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>
                    </div>
                    <mat-form-field class="full-width">
                        <mat-label>Filtros de Busqueda</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Recargas" #input>
                    </mat-form-field>


                    <div class="mat-elevation-z8 table-responsive">
                        <table aria-label="informacion" mat-table [dataSource]="dataSourceMTCenterR" matSort>

                            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                            <!-- fecha -->
                            <ng-container matColumnDef="fecha">
                                <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Fecha </th>
                                <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.fecha_op}}
                                    {{element.hora_op}} </td>
                            </ng-container>

                            <!-- telefono -->
                            <ng-container matColumnDef="telefono">
                                <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef>
                                    Tel&eacute;fono</th>
                                <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.telefono}}
                                </td>
                            </ng-container>

                            <!-- Monto -->
                            <ng-container matColumnDef="monto">
                                <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef> Monto</th>
                                <td mat-cell style="padding: 16px;" *matCellDef="let element"> {{element.monto|
                                    currency:'MXN'}} </td>
                            </ng-container>

                            <!-- autorizacion -->
                            <ng-container matColumnDef="noAutorizacion">
                                <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef>
                                    No.Autorizaci&oacute;n</th>
                                <td mat-cell style="padding: 16px;" *matCellDef="let element">
                                    {{element.no_autorizacion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="sucursal">
                                <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef>
                                    Sucursal</th>
                                <td mat-cell style="padding: 16px;" *matCellDef="let element">
                                    {{element.nombre_sucursal}} </td>
                            </ng-container>

                            <ng-container matColumnDef="codigo">
                                <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef>
                                    Codigo</th>
                                <td mat-cell style="padding: 16px;" *matCellDef="let element">
                                    {{element.codigo_respuesta}} </td>
                            </ng-container>

                            <ng-container matColumnDef="respuesta">
                                <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef>
                                    Respuesta</th>
                                <td mat-cell style="padding: 16px;" *matCellDef="let element">
                                    {{element.descripcion_respuesta}} </td>
                            </ng-container>
                            <ng-container matColumnDef="movimiento">
                                <th scope="col" style="padding: 16px;" mat-header-cell *matHeaderCellDef>
                                    Ref. Movimiento</th>
                                <td mat-cell style="padding: 16px;" *matCellDef="let element">
                                    {{element.ref_movimiento}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                        aria-label="Select page of users">
                    </mat-paginator>
                </mat-tab>
                <mat-tab label="Reporte de Recargas">
                    <h3 class="text-center"> Consiliación de Recargas MTCENTER</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Sucursal</mat-label>
                                <input type="text" placeholder="Sucursal" matInput [formControl]="sucursalR"
                                    [matAutocomplete]="autoSucursal">
                                <mat-autocomplete autoActiveFirstOption #autoSucursal="matAutocomplete"
                                    [displayWith]="mostrarSucursal">
                                    <mat-option *ngFor="let option of opcionesSucursalR| async" [value]="option">
                                        {{option.nombreSucursal}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-icon matSuffix>map</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Fecha</mat-label>
                                <input [formControl]="pfecha" matInput [matDatepicker]="pfechaI">
                                <mat-datepicker-toggle matSuffix [for]="pfechaI"></mat-datepicker-toggle>
                                <mat-datepicker #pfechaI></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <button mat-raised-button color="primary" matTooltip="Reporte"
                                (click)="spsRecargasMtcenter(2)">
                                <mat-icon>download</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>