<h3 mat-dialog-title>{{encabezado | uppercase}}</h3>

<mat-dialog-content class="mat-typography">

    <form [formGroup]="formClaseActividades">
        <p></p>
        <div class="row">

            <div class="col-12">
                <p>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>C&oacute;digo</mat-label>
                        <input formControlName="codCActividad" matInput placeholder="C&oacute;digo">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <ng-template ngFor let-error [ngForOf]="validacion_msj.codCActividad" ngProjectAs="mat-error">
                            <mat-error *ngIf="formClaseActividades.get('codCActividad').hasError(error.type)" >
                                <strong> {{error.message}}</strong>
                            </mat-error>                  
                        </ng-template>
                    </mat-form-field>
                </p>
            </div>

  
            <div class="col-12">
                <p>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Descripci&oacute;n</mat-label>
                        <textarea formControlName="descripcion" matInput placeholder="Descripci&oacute;n"></textarea>
                        <mat-icon matSuffix>mode_edit</mat-icon>
                        <ng-template ngFor let-error [ngForOf]="validacion_msj.descripcion" ngProjectAs="mat-error">
                            <mat-error *ngIf="formClaseActividades.get('descripcion').hasError(error.type)" >
                                <strong> {{error.message}}</strong>
                            </mat-error>                  
                        </ng-template>
                    </mat-form-field>
                </p>
            </div>


            <div class="col-12">
                <p>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Sueldo mensual apr&oacute;ximado</mat-label>
                        <input formControlName="sueldoMesAprox" matInput placeholder="Sueldo">
                        <mat-icon matSuffix>attach_money</mat-icon>
                        <ng-template ngFor let-error [ngForOf]="validacion_msj.sueldoMesAprox" ngProjectAs="mat-error">
                            <mat-error *ngIf="formClaseActividades.get('sueldoMesAprox').hasError(error.type)" >
                                <strong> {{error.message}}</strong>
                            </mat-error>                  
                        </ng-template>
                    </mat-form-field>
                </p>
            </div>

            <div class="col-12">

              <mat-form-field class="full-width" appearance="outline" class="full-width">
                  <mat-label>Actividad PLD</mat-label>
                  <input type="text" matInput formControlName="actividadPLD" [matAutocomplete]="auto">
                  <mat-autocomplete  autoActiveFirstOption #auto="matAutocomplete"
                      [displayWith]="displayFn">
                      <mat-option *ngFor="let option of opcionesActividadPLD | async" [value]="option">
                          {{option.cvePLD}} /  {{option.actividadEco}}
                      </mat-option>
                  </mat-autocomplete>
                  <ng-template ngFor let-error [ngForOf]="validacion_msj.actividadPLD" ngProjectAs="mat-error">
                    <mat-error *ngIf="formClaseActividades.get('actividadPLD').hasError(error.type)" >
                        <strong> {{error.message}}</strong>
                    </mat-error>                  
                  </ng-template>
              </mat-form-field>
            </div>


            <div class="col-12">

                <mat-form-field class="full-width" appearance="outline" class="full-width">
                    <mat-label>Subrama</mat-label>
                    <input type="text" matInput formControlName="subRama" [matAutocomplete]="autoSubRama">
                    <mat-autocomplete  autoActiveFirstOption #autoSubRama="matAutocomplete"
                        [displayWith]="displayFnS">
                        <mat-option *ngFor="let option1 of opcionesSubrama | async" [value]="option1">
                            {{option1.codSubRama}} /  {{option1.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                    <ng-template ngFor let-error [ngForOf]="validacion_msj.subRama" ngProjectAs="mat-error">
                        <mat-error *ngIf="formClaseActividades.get('subRama').hasError(error.type)" >
                            <strong> {{error.message}}</strong>
                        </mat-error>                  
                    </ng-template>
                </mat-form-field>

            </div>

            <div class="col-12">
                <mat-slide-toggle formControlName="estatus"   color="primary">
                  Estatus
              </mat-slide-toggle>
            </div>

        </div> 
    </form>


</mat-dialog-content>


<mat-dialog-actions align = "end">
    <button *ngIf="accion === 1" (click)="guardarActividad()" mat-raised-button color="primary">Guardar</button>

    <button *ngIf="accion === 2" (click)="editarActividad()" mat-raised-button color="primary">Editar</button>
    <button mat-raised-button color="warn" mat-dialog-close  [mat-dialog-close]="formClaseActividades.get('subRama').value">Cancelar</button>
</mat-dialog-actions>
