<!--Se hace dinámico el título del modal, de acuerdo si es
un guardado o  un editado-->
<h2 mat-dialog-title>{{titulo | uppercase}}</h2>
<mat-dialog-content class="mat-typography">



  <!--Se inicia la estructura del formAsignaDocumento-->
  <form [formGroup]="formDocumentoCodificado">
    <p></p>
    <div class="row">

      <!--Se hace el combo de registro TIPO DOCUMENTO ID-->
      <div class="col-12">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Tipo Documento</mat-label>
          <mat-select [formControl]="tipoDocumentoControl" name="tipoDocumentoID">
            <mat-option *ngFor="let tipoDocumentoID of listaTipoDocumento" [value]="tipoDocumentoID">
              {{tipoDocumentoID.tipoDocumentoID}} / {{tipoDocumentoID.nombreDoc}}
            </mat-option>
          </mat-select>
          <ng-template ngFor let-error [ngForOf]="validaciones.tipoDocumentoID" ngProjectAs="mat-error">
            <mat-error *ngIf="formDocumentoCodificado.get('tipoDocumentoID').hasError(error.type)">
              <strong> {{error.message}}</strong>
            </mat-error>
          </ng-template>
        </mat-form-field>
      </div>

      <!-- Subir archivos -->
      <div class="input-group mb-3 col-12">
        <input (change)="capturarFile($event)" accept=".png, .jpg, .pdf" type="file" class="form-control"
          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
      </div>
    </div>
  </form>

  <!-- Visualizador de archivos -->
  <div *ngIf="accion === 2" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
    <iframe style="position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;" frameBorder="0" [src]="urlSafe"></iframe>
  </div>

  <!--Se hacen los botones y se manda llamar el método de crudAsignaDocumento()-->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="accion === 1" [disabled]="loading" (click)="crudDocumentoCodificado()" mat-raised-button
    color="primary" cdkFocusInitial>{{(loading) ? 'Cargando...' : 'Guardar'}}</button>
  <button *ngIf="accion === 2" (click)="crudDocumentoCodificado()" mat-raised-button color="primary"
    cdkFocusInitial>Editar</button>
  <button mat-raised-button mat-dialog-close color="warn" >Cancelar</button>
</mat-dialog-actions>